body {
    color: #656565;
    height:100%;
    font: 400 16px/1.62 Georgia, "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
    }
#scroll {
    position:fixed;
    top:300px;
    right:55px;
    }
.scrollItem {
    width:20px;
    height:70px;
    border:#e1e1e1 1px solid;
    cursor:pointer;
    text-align:center;
    padding-top:10px;
    font-size:12px;
    }
a:link,a:visited{
    text-decoration:none; /*超链接无下划线*/
    color:#000000;
    }
.laugh {
      text-align: center;
      margin: 120px auto auto auto;
      max-width: 500px;
      padding: 0 20px;
    }
.lhead {
    margin:0 auto;
    margin-bottom: 45px;
    border-radius: 64px;
    width:180px; 
    height:125px;
    }
.avatar {
    border-radius: 64px;
    box-shadow: 0 2px 4px rgba(99, 99, 99, 0.5);
    }
/*.bar {
	position:fixed;
	position:absolute;
	bottom:0px;
	bottom:10px;
	margin-top:expression(this.style.pixelHeight+document.documentElement.scrollTop)
	}
*/
