<tr><td>
 <div class="bar">  
    <center>
       <i class="fa fa-home">&nbsp;</i><a href="{{ site.url }}">首页 </a> 
       &nbsp;&nbsp;&nbsp;<i class="fa fa-suitcase">&nbsp;</i><a href="{{ site.url }}/paper/">博文 </a> 
       &nbsp;&nbsp;&nbsp;<i class="fa fa-tags">&nbsp;</i><a href="{{ site.url }}/categories/">分类 </a> 
       &nbsp;&nbsp;&nbsp;<i class="fa fa-book">&nbsp;</i><a href="{{ site.url }}/wiki">知识 </a> 
       &nbsp;&nbsp;&nbsp;<i class="fa fa-link">&nbsp;</i><a href="{{ site.url }}/links/">友链 </a> 
       &nbsp;&nbsp;&nbsp;<i class="fa fa-user-secret">&nbsp;</i><a href="{{ site.url }}/about/">关于 </a> 
     </center>
  </div>
  </td>
</tr>
  </table>	
 </div>
 <!---文章不多,注释掉---回到顶部与底部----
 <div id="scroll">
  <div class="scrollItem" id="toTop">返回顶部</div>
  <div class="scrollItem" id="toBottom">回到底部</div>
</div>
<script src="{{ site.url }}/js/jquery.js"></script>
<script>
$(function () {
	var speed = 400;//滚动速度
	var h = document.documentElement.clientWidth;
	//回到顶部
	$("#toTop").click(function () {
		$('html,body').animate({
			scrollTop: '0px'
		},speed);			
	});
	//回到底部
	var windowHeight = parseInt($("body").css("height"));//整个页面的高度
	$("#toBottom").click(function () {
		$('html,body').animate({
			scrollTop: h+'px'
		},speed);
	});
});
</script>
---分页神马太麻烦，不搞!(我高兴就行)--->
<!--页面结束-->
</body>
</html>
