  <div class="bar">  
    <center>
       <i class="fa fa-home">&nbsp;</i><a href="{{ site.url }}">首页 </a> 
       &nbsp;&nbsp;&nbsp;<i class="fa fa-suitcase">&nbsp;</i><a href="{{ site.url }}/paper/">博文 </a> 
       &nbsp;&nbsp;&nbsp;<i class="fa fa-tags">&nbsp;</i><a href="{{ site.url }}/categories/">分类 </a> 
       &nbsp;&nbsp;&nbsp;<i class="fa fa-book">&nbsp;</i><a href="{{ site.url }}/wiki">知识 </a> 
       &nbsp;&nbsp;&nbsp;<i class="fa fa-link">&nbsp;</i><a href="{{ site.url }}/links/">友链 </a> 
       &nbsp;&nbsp;&nbsp;<i class="fa fa-user-secret">&nbsp;</i><a href="{{ site.url }}/about/">关于 </a> 
     </center>
  </div>
</td>
  </table>	
</div>
</body>
</html>
