<!DOCTYPE html>
<!--
┌──────────────┐
│▉▉▉▉▉▉▉▉▉▉▉95.5%|
└──────────────┘正在蓄能.....
好好学习，天天向上！
-->
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
        <meta name="keywords" content="{% if page.keywords %}{{ page.keywords | join: ',' }}{% endif %}" />
        <meta name="description" content="{% if page.description %}{{ page.description }}{% endif %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %} </title>
        <link rel="shortcut icon" href="{{ site.url }}/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="{{ site.url }}/css/font-awesome.min.css" />
        <link rel="stylesheet" href="{{ site.url }}/css/style.css" type="text/css" />
    </head>
<style type="text/css">
<!--
.STYLE1 {
	font-size: 36px;
	font-weight: bold;
}
.STYLE2 {font-size: 14px}
-->
</style>
<body>
	<div class="whole" align="center">
		<table width="400" height="532" border="0">
			<td height="367" align="left" valign="top">
