<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
        <meta name="keywords" content="{% if page.keywords %}{{ page.keywords | join: ',' }}{% endif %}" />
        <meta name="description" content="{% if page.description %}{{ page.description }}{% endif %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %} </title>
        <link rel="shortcut icon" href="{{ site.url }}favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="./css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="./css/style.css" type="text/css" />       
    </head>
    <body>
        <div class="laugh">
            <div class="lhead">
                <a href="./" target="_blank">
                    <img class="avatar" src="./img/avatar.png" alt="" width="180" height="128"></a>
            </div>
            <p>#哪有什么纯粹，都是江湖而已</p>
            <p><i class="fa fa-map-marker fa-lg"> </i>
                HangZhou · China</p>
            <center>
                &nbsp;&nbsp;&nbsp;<i class="fa fa-home">&nbsp;</i><a href="./paper/">博文</a>
                &nbsp;&nbsp;&nbsp;<i class="fa fa-tags">&nbsp;</i><a href="./categories/">分类</a>
                &nbsp;&nbsp;&nbsp;<i class="fa fa-book">&nbsp;</i><a href="#">专栏</a>
                &nbsp;&nbsp;&nbsp;<i class="fa fa-link">&nbsp;</i><a href="./links/">友链</a>
                &nbsp;&nbsp;&nbsp;<i class="fa fa-user-secret">&nbsp;</i><a href="./about/">关于</a>
            </center>
        </div>
    </body>
</html>
